In [1]:
# Clean Data for Project 3

In [1]:
import pandas as pd

In [7]:
# Store filepaths as variables
chi_hist_zip = "Uncleaned Data/Chicago_Historical_Zip.csv"
chi_hist_permits = "Uncleaned Data/New_Reno_Building_Permits.csv"

# Convert to pandas dataframe
chi_hist_zip_df = pd.read_csv(chi_hist_zip)
chi_hist_permits_df =pd.read_csv(chi_hist_permits)

In [8]:
chi_hist_zip_df.head()

,month_date_yyyymm,postal_code,zip_name,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count
0,202010,60601,"chicago, il",519050.0,286,71.0,56,446.368715,1225.0,837750,489
1,202009,60601,"chicago, il",519550.0,280,55.5,64,453.437729,1234.5,846010,489
2,202008,60601,"chicago, il",539050.0,252,45.0,96,465.625000,1225.0,883507,465
3,202007,60601,"chicago, il",530000.0,222,56.0,104,467.659403,1225.0,870200,430
4,202006,60601,"chicago, il",520733.5,202,52.5,56,483.586762,1220.0,878951,401

In [9]:
chi_hist_permits_df.head()

,ID,PERMIT#,PERMIT_TYPE,ISSUE_DATE,STREET_NUMBER,STREET DIRECTION,STREET_NAME,SUFFIX,COMMUNITY_AREA,CENSUS_TRACT,WARD,XCOORDINATE,YCOORDINATE,LATITUDE,LONGITUDE,LOCATION
0,3080050,100846974,PERMIT - NEW CONSTRUCTION,11/10/20,2402,W,CARMEN,AVE,4.0,40201.0,40.0,1159374.868,1933848.767,41.974206,-87.689310,POINT (-87.689309838272 41.974205827256)
1,3143407,100890517,PERMIT - RENOVATION/ALTERATION,11/10/20,6,N,MICHIGAN,AVE,32.0,320100.0,42.0,1177270.774,1900478.325,41.882248,-87.624517,POINT (-87.624516537476 41.882248222736)
2,3154314,100898444,PERMIT - RENOVATION/ALTERATION,11/10/20,4949,W,BELMONT,AVE,19.0,190200.0,31.0,1142597.702,1920774.986,41.938660,-87.751331,POINT (-87.751331308336 41.938659756252)
3,2997896,100797094,PERMIT - NEW CONSTRUCTION,11/10/20,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,1151120.073,1921099.562,41.939387,-87.720001,POINT (-87.720000753838 41.939387373989)
4,3153473,100897847,PERMIT - RENOVATION/ALTERATION,11/10/20,3634,N,PAULINA,ST,6.0,60300.0,47.0,1164300.693,1924339.714,41.948010,-87.671466,POINT (-87.671466313717 41.948009526264)