In [1]:
# Clean Data for Project 3

In [1]:
import pandas as pd

In [3]:
# Store filepaths as variables
chi_hist_zip = "Uncleaned Data/Chicago_Historical_Zip.csv"
hot_hist_metro = "Uncleaned Data/Hotness_History_Metro.csv"
hot_current_zip = "Uncleaned Data/Hotness_Zip.csv"
chi_hist_permits = "Uncleaned Data/New_Reno_Building_Permits.csv"

# Convert to pandas dataframe
chi_hist_zip_df = pd.read_csv(chi_hist_zip)
hot_hist_metro_df = pd.read_csv(hot_hist_metro)
hot_current_zip_df = pd.read_csv(hot_current_zip)
chi_hist_permits_df =pd.read_csv(chi_hist_permits)

/Users/SJR/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (88,89,90,91,92,93,94,95,96,97) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
chi_hist_zip_df.head()

,month_date_yyyymm,postal_code,zip_name,flag,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202010,60603,"chicago, il",*,720050.0,-0.0034,NaN,56,0.0182,NaN,...,-0.0746,814312,-0.0344,-0.0960,56,0.0000,0.5135,0.0000,-0.0182,-0.1212
1,202010,60619,"chicago, il",*,135050.0,-0.0288,NaN,81,0.0385,NaN,...,-0.0140,140520,0.0261,0.0285,193,-0.0253,-0.3107,1.3827,-0.1557,0.9090
2,202010,60612,"chicago, il",NaN,300050.0,-0.0625,-0.1769,125,0.0870,0.3587,...,-0.1150,412261,-0.0708,-0.1390,169,0.0497,0.2071,0.3520,-0.0480,-0.1697
3,202010,60661,"chicago, il",NaN,364950.0,-0.0003,-0.1312,130,0.0924,1.2807,...,0.0607,393406,0.0048,-0.1426,144,0.0746,0.8947,0.1077,-0.0184,-0.2256
4,202010,60646,"chicago, il",*,519550.0,0.0206,NaN,68,-0.0145,-0.3333,...,0.3083,618918,0.0694,0.2313,125,-0.0079,-0.0876,0.8382,0.0121,0.4951

In [5]:
hot_hist_metro_df.head()

,month_date_yyyymm,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldpviews_per_property_mm,ldpviews_per_property_yy,ldpviews_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202010,31700,"manchester-nashua, nh",124.0,1.0,0.0,12.0,99.163880,98.327759,100.000000,...,-20.5,-23.0,0.0169,1.4195,3.0956,379950.0,0.0070,0.0780,1.0856,0.0
1,202009,31700,"manchester-nashua, nh",124.0,1.0,2.0,22.0,98.494983,96.989967,100.000000,...,-22.0,-24.0,-0.0759,1.4570,2.8850,377300.0,-0.0566,0.0410,1.0780,0.0
2,202008,23420,"fresno, ca",70.0,1.0,8.0,28.0,98.662207,98.996656,98.327759,...,-16.0,-26.0,0.1205,2.3153,2.5563,350050.0,-0.0057,0.0439,1.0003,0.0
3,202007,45820,"topeka, ks",192.0,1.0,0.0,24.0,98.829431,100.000000,97.658863,...,-13.5,-32.0,0.1263,1.7966,2.3158,136300.0,-0.1065,-0.0916,0.3904,0.0
4,202006,45820,"topeka, ks",192.0,1.0,1.0,35.0,99.832776,100.000000,99.665552,...,-13.5,-45.0,0.2739,1.6881,2.6396,152550.0,-0.0895,0.0167,0.4465,1.0

In [6]:
hot_current_zip_df.head()

,month_date_yyyymm,postal_code,zip_name,flag,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,* year-over-year figures may be impacted,please contact economics@realtor.com for more...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202010,99921,"craig, ak",NaN,295050.0,0.0000,0.1132,19.0,0.0000,0.1875,...,-0.0625,341307.0,0.0151,-0.0348,20.0,0.0526,0.2500,0.0526,0.0526,0.0526
2,202010,99901,"ketchikan, ak",NaN,299050.0,-0.0912,0.0136,97.0,0.0659,0.0000,...,-0.0828,315975.0,-0.0295,-0.0019,110.0,-0.0265,-0.0090,0.1340,-0.1077,-0.0103
3,202010,99835,"sitka, ak",*,350050.0,-0.0264,-0.1002,29.0,-0.2750,NaN,...,-0.3756,452464.0,0.0594,-0.1256,41.0,-0.2407,-0.2264,0.4138,0.0638,0.2861
4,202010,99833,"petersburg, ak",NaN,247550.0,-0.0020,-0.1069,16.0,-0.1111,-0.2727,...,0.1538,333568.0,0.0058,0.0177,16.0,-0.1579,-0.2727,0.0000,-0.0556,0.0000

In [7]:
chi_hist_permits_df.head()

,ID,PERMIT#,PERMIT_TYPE,REVIEW_TYPE,APPLICATION_START_DATE,ISSUE_DATE,STREET_NUMBER,STREET DIRECTION,STREET_NAME,SUFFIX,...,PIN9,PIN10,COMMUNITY_AREA,CENSUS_TRACT,WARD,XCOORDINATE,YCOORDINATE,LATITUDE,LONGITUDE,LOCATION
0,3080050,100846974,PERMIT - NEW CONSTRUCTION,STANDARD PLAN REVIEW,8/25/20,11/10/20,2402,W,CARMEN,AVE,...,NaN,NaN,4.0,40201.0,40.0,1159374.868,1933848.767,41.974206,-87.689310,POINT (-87.689309838272 41.974205827256)
1,3143407,100890517,PERMIT - RENOVATION/ALTERATION,STANDARD PLAN REVIEW,11/10/20,11/10/20,6,N,MICHIGAN,AVE,...,NaN,NaN,32.0,320100.0,42.0,1177270.774,1900478.325,41.882248,-87.624517,POINT (-87.624516537476 41.882248222736)
2,3154314,100898444,PERMIT - RENOVATION/ALTERATION,STANDARD PLAN REVIEW,11/10/20,11/10/20,4949,W,BELMONT,AVE,...,NaN,NaN,19.0,190200.0,31.0,1142597.702,1920774.986,41.938660,-87.751331,POINT (-87.751331308336 41.938659756252)
3,2997896,100797094,PERMIT - NEW CONSTRUCTION,STANDARD PLAN REVIEW,8/14/20,11/10/20,3204,N,LAWNDALE,AVE,...,NaN,NaN,21.0,831100.0,30.0,1151120.073,1921099.562,41.939387,-87.720001,POINT (-87.720000753838 41.939387373989)
4,3153473,100897847,PERMIT - RENOVATION/ALTERATION,SELF CERT,11/10/20,11/10/20,3634,N,PAULINA,ST,...,NaN,NaN,6.0,60300.0,47.0,1164300.693,1924339.714,41.948010,-87.671466,POINT (-87.671466313717 41.948009526264)