In [48]:
# Clean Data for Project 3

In [88]:
import pandas as pd

In [89]:
# Store filepaths as variables
chi_hist_zip = "Uncleaned Data/Chicago_Historical_Zip.csv"
chi_hist_permits = "Uncleaned Data/New_Reno_Building_Permits.csv"

# Convert to pandas dataframe
chi_hist_zip_df = pd.read_csv(chi_hist_zip)
chi_hist_permits_df =pd.read_csv(chi_hist_permits)

In [90]:
# rename first three columns
chi_hist_zip_df = chi_hist_zip_df.rename(columns={"month_date_yyyymm":"month_year", "postal_code":"zip_code", "zip_name": "city_state"})

In [91]:
chi_hist_zip_df.head()

,month_year,Full_date,short_date,zip_code,city_state,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count
0,202010,10/1/2020,10/2020,60601,"chicago, il",519050.0,286,71.0,56,446.368715,1225.0,837750,489
1,202009,09/1/2020,09/2020,60601,"chicago, il",519550.0,280,55.5,64,453.437729,1234.5,846010,489
2,202008,08/1/2020,08/2020,60601,"chicago, il",539050.0,252,45.0,96,465.625000,1225.0,883507,465
3,202007,07/1/2020,07/2020,60601,"chicago, il",530000.0,222,56.0,104,467.659403,1225.0,870200,430
4,202006,06/1/2020,06/2020,60601,"chicago, il",520733.5,202,52.5,56,483.586762,1220.0,878951,401

In [92]:
chi_hist_zip_df.dtypes

month_year                                int64
Full_date                                object
short_date                               object
zip_code                                  int64
city_state                               object
median_listing_price                    float64
active_listing_count                      int64
median_days_on_market                   float64
new_listing_count                         int64
median_listing_price_per_square_foot    float64
median_square_feet                      float64
average_listing_price                     int64
total_listing_count                       int64
dtype: object

In [53]:
# check for any missing values
chi_hist_zip_df.count()

month_year                              2875
zip_code                                2875
city_state                              2875
median_listing_price                    2875
active_listing_count                    2875
median_days_on_market                   2875
new_listing_count                       2875
median_listing_price_per_square_foot    2875
median_square_feet                      2875
average_listing_price                   2875
total_listing_count                     2875
dtype: int64

Permits dataframe

In [54]:
chi_hist_permits_df.head()

,ID,PERMIT#,PERMIT_TYPE,ISSUE_DATE,STREET_NUMBER,STREET DIRECTION,STREET_NAME,SUFFIX,COMMUNITY_AREA,CENSUS_TRACT,WARD,XCOORDINATE,YCOORDINATE,LATITUDE,LONGITUDE,LOCATION
0,3080050,100846974,PERMIT - NEW CONSTRUCTION,11/10/20,2402,W,CARMEN,AVE,4.0,40201.0,40.0,1159374.868,1933848.767,41.974206,-87.689310,POINT (-87.689309838272 41.974205827256)
1,3143407,100890517,PERMIT - RENOVATION/ALTERATION,11/10/20,6,N,MICHIGAN,AVE,32.0,320100.0,42.0,1177270.774,1900478.325,41.882248,-87.624517,POINT (-87.624516537476 41.882248222736)
2,3154314,100898444,PERMIT - RENOVATION/ALTERATION,11/10/20,4949,W,BELMONT,AVE,19.0,190200.0,31.0,1142597.702,1920774.986,41.938660,-87.751331,POINT (-87.751331308336 41.938659756252)
3,2997896,100797094,PERMIT - NEW CONSTRUCTION,11/10/20,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,1151120.073,1921099.562,41.939387,-87.720001,POINT (-87.720000753838 41.939387373989)
4,3153473,100897847,PERMIT - RENOVATION/ALTERATION,11/10/20,3634,N,PAULINA,ST,6.0,60300.0,47.0,1164300.693,1924339.714,41.948010,-87.671466,POINT (-87.671466313717 41.948009526264)

In [55]:
# delete first unneeded column
del chi_hist_permits_df['ID']

In [56]:
# delete next unneeded column
del chi_hist_permits_df['PERMIT#']

In [57]:
chi_hist_permits_df.head()

,PERMIT_TYPE,ISSUE_DATE,STREET_NUMBER,STREET DIRECTION,STREET_NAME,SUFFIX,COMMUNITY_AREA,CENSUS_TRACT,WARD,XCOORDINATE,YCOORDINATE,LATITUDE,LONGITUDE,LOCATION
0,PERMIT - NEW CONSTRUCTION,11/10/20,2402,W,CARMEN,AVE,4.0,40201.0,40.0,1159374.868,1933848.767,41.974206,-87.689310,POINT (-87.689309838272 41.974205827256)
1,PERMIT - RENOVATION/ALTERATION,11/10/20,6,N,MICHIGAN,AVE,32.0,320100.0,42.0,1177270.774,1900478.325,41.882248,-87.624517,POINT (-87.624516537476 41.882248222736)
2,PERMIT - RENOVATION/ALTERATION,11/10/20,4949,W,BELMONT,AVE,19.0,190200.0,31.0,1142597.702,1920774.986,41.938660,-87.751331,POINT (-87.751331308336 41.938659756252)
3,PERMIT - NEW CONSTRUCTION,11/10/20,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,1151120.073,1921099.562,41.939387,-87.720001,POINT (-87.720000753838 41.939387373989)
4,PERMIT - RENOVATION/ALTERATION,11/10/20,3634,N,PAULINA,ST,6.0,60300.0,47.0,1164300.693,1924339.714,41.948010,-87.671466,POINT (-87.671466313717 41.948009526264)

In [93]:
chi_hist_permits_df.dtypes

ID                    int64
PERMIT#               int64
PERMIT_TYPE          object
ISSUE_DATE           object
STREET_NUMBER         int64
STREET DIRECTION     object
STREET_NAME          object
SUFFIX               object
COMMUNITY_AREA      float64
CENSUS_TRACT        float64
WARD                float64
XCOORDINATE         float64
YCOORDINATE         float64
LATITUDE            float64
LONGITUDE           float64
LOCATION             object
dtype: object

In [58]:
# reorder columns to move date to first column
chi_hist_permits_df = chi_hist_permits_df[["ISSUE_DATE","STREET_NUMBER","STREET DIRECTION","STREET_NAME","SUFFIX","COMMUNITY_AREA","CENSUS_TRACT","WARD","XCOORDINATE","YCOORDINATE","LATITUDE","LONGITUDE","LOCATION","PERMIT_TYPE"]]

In [59]:
chi_hist_permits_df.head()

,ISSUE_DATE,STREET_NUMBER,STREET DIRECTION,STREET_NAME,SUFFIX,COMMUNITY_AREA,CENSUS_TRACT,WARD,XCOORDINATE,YCOORDINATE,LATITUDE,LONGITUDE,LOCATION,PERMIT_TYPE
0,11/10/20,2402,W,CARMEN,AVE,4.0,40201.0,40.0,1159374.868,1933848.767,41.974206,-87.689310,POINT (-87.689309838272 41.974205827256),PERMIT - NEW CONSTRUCTION
1,11/10/20,6,N,MICHIGAN,AVE,32.0,320100.0,42.0,1177270.774,1900478.325,41.882248,-87.624517,POINT (-87.624516537476 41.882248222736),PERMIT - RENOVATION/ALTERATION
2,11/10/20,4949,W,BELMONT,AVE,19.0,190200.0,31.0,1142597.702,1920774.986,41.938660,-87.751331,POINT (-87.751331308336 41.938659756252),PERMIT - RENOVATION/ALTERATION
3,11/10/20,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,1151120.073,1921099.562,41.939387,-87.720001,POINT (-87.720000753838 41.939387373989),PERMIT - NEW CONSTRUCTION
4,11/10/20,3634,N,PAULINA,ST,6.0,60300.0,47.0,1164300.693,1924339.714,41.948010,-87.671466,POINT (-87.671466313717 41.948009526264),PERMIT - RENOVATION/ALTERATION

In [60]:
# get only columns needed
chi_hist_permits_df = chi_hist_permits_df[["ISSUE_DATE","STREET_NUMBER","STREET DIRECTION","STREET_NAME","SUFFIX","COMMUNITY_AREA","CENSUS_TRACT","WARD","LATITUDE","LONGITUDE","PERMIT_TYPE"]]

In [61]:
chi_hist_permits_df.head()

,ISSUE_DATE,STREET_NUMBER,STREET DIRECTION,STREET_NAME,SUFFIX,COMMUNITY_AREA,CENSUS_TRACT,WARD,LATITUDE,LONGITUDE,PERMIT_TYPE
0,11/10/20,2402,W,CARMEN,AVE,4.0,40201.0,40.0,41.974206,-87.689310,PERMIT - NEW CONSTRUCTION
1,11/10/20,6,N,MICHIGAN,AVE,32.0,320100.0,42.0,41.882248,-87.624517,PERMIT - RENOVATION/ALTERATION
2,11/10/20,4949,W,BELMONT,AVE,19.0,190200.0,31.0,41.938660,-87.751331,PERMIT - RENOVATION/ALTERATION
3,11/10/20,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,41.939387,-87.720001,PERMIT - NEW CONSTRUCTION
4,11/10/20,3634,N,PAULINA,ST,6.0,60300.0,47.0,41.948010,-87.671466,PERMIT - RENOVATION/ALTERATION

In [62]:
# rename columns
chi_hist_permits_df = chi_hist_permits_df.rename(columns={"ISSUE_DATE":"month_year","STREET_NUMBER":"street_number","STREET DIRECTION":"street_direction","STREET_NAME":"street_name","SUFFIX":"suffix","COMMUNITY_AREA":"community_area","CENSUS_TRACT":"census_tract","WARD": "ward","LATITUDE":"lat","LONGITUDE": "lng","PERMIT_TYPE":"permit_type"})

In [63]:
chi_hist_permits_df.head()

,month_year,street_number,street_direction,street_name,suffix,community_area,census_tract,ward,lat,lng,permit_type
0,11/10/20,2402,W,CARMEN,AVE,4.0,40201.0,40.0,41.974206,-87.689310,PERMIT - NEW CONSTRUCTION
1,11/10/20,6,N,MICHIGAN,AVE,32.0,320100.0,42.0,41.882248,-87.624517,PERMIT - RENOVATION/ALTERATION
2,11/10/20,4949,W,BELMONT,AVE,19.0,190200.0,31.0,41.938660,-87.751331,PERMIT - RENOVATION/ALTERATION
3,11/10/20,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,41.939387,-87.720001,PERMIT - NEW CONSTRUCTION
4,11/10/20,3634,N,PAULINA,ST,6.0,60300.0,47.0,41.948010,-87.671466,PERMIT - RENOVATION/ALTERATION

In [64]:
# How to convert ISSUE_DATE
# chi_hist_permits_df = chi_hist_permits_df["ISSUE_DATE"].dt.strftime("%m%Y")

In [65]:
# check for missing values
chi_hist_permits_df.count()

month_year          53254
street_number       53254
street_direction    53254
street_name         53254
suffix              52764
community_area      53250
census_tract        53091
ward                53232
lat                 53077
lng                 53077
permit_type         53254
dtype: int64

In [66]:
# drop rows with missing values--we need lats & longs
chi_hist_permits_df = chi_hist_permits_df.dropna(how='any')

In [67]:
chi_hist_permits_df.count()

month_year          52423
street_number       52423
street_direction    52423
street_name         52423
suffix              52423
community_area      52423
census_tract        52423
ward                52423
lat                 52423
lng                 52423
permit_type         52423
dtype: int64

In [68]:
chi_hist_permitsREW_df = chi_hist_permits_df

In [69]:
chi_hist_permitsREW_df

,month_year,street_number,street_direction,street_name,suffix,community_area,census_tract,ward,lat,lng,permit_type
0,11/10/20,2402,W,CARMEN,AVE,4.0,40201.0,40.0,41.974206,-87.689310,PERMIT - NEW CONSTRUCTION
1,11/10/20,6,N,MICHIGAN,AVE,32.0,320100.0,42.0,41.882248,-87.624517,PERMIT - RENOVATION/ALTERATION
2,11/10/20,4949,W,BELMONT,AVE,19.0,190200.0,31.0,41.938660,-87.751331,PERMIT - RENOVATION/ALTERATION
3,11/10/20,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,41.939387,-87.720001,PERMIT - NEW CONSTRUCTION
4,11/10/20,3634,N,PAULINA,ST,6.0,60300.0,47.0,41.948010,-87.671466,PERMIT - RENOVATION/ALTERATION
...,...,...,...,...,...,...,...,...,...,...,...
53249,1/4/16,1221,W,31ST,ST,60.0,600900.0,11.0,41.837793,-87.656840,PERMIT - RENOVATION/ALTERATION
53250,1/4/16,6233,S,UNIVERSITY,AVE,42.0,420300.0,20.0,41.781331,-87.597698,PERMIT - RENOVATION/ALTERATION
53251,1/4/16,4802,S,PRINCETON,AVE,37.0,835600.0,3.0,41.807090,-87.633458,PERMIT - RENOVATION/ALTERATION
53252,1/4/16,555,W,111TH,ST,49.0,491200.0,34.0,41.692308,-87.637307,PERMIT - RENOVATION/ALTERATION
53253,1/4/16,6440,S,HOYNE,AVE,67.0,671400.0,16.0,41.776271,-87.676410,PERMIT - RENOVATION/ALTERATION

In [70]:
permitLtLn_df = chi_hist_permitsREW_df[["lat","lng"]]
permitLtLn_df["lat"] = permitLtLn_df["lat"].round(2)
permitLtLn_df["lng"] = permitLtLn_df["lng"].round(2)
permitLtLn_df = permitLtLn_df.drop_duplicates()
permitLtLn_df

         lat    lng
0      41.97 -87.69
1      41.88 -87.62
2      41.94 -87.75
3      41.94 -87.72
4      41.95 -87.67
...      ...    ...
39895  41.68 -87.70
40618  41.73 -87.74
44007  41.77 -87.77
46188  41.67 -87.57
49745  41.97 -87.85

[661 rows x 2 columns]

In [71]:
# import geopy  #DO NOT RUN THIS CELL
# import pandas as pd


# def get_zipcode(df, geolocator, lat_field, lon_field):
#     location = geolocator.reverse((df[lat_field], df[lon_field]))
#     return location.raw['address']#['postcode']


# geolocator = geopy.Nominatim(user_agent="rewelling09@gmail.com")

# zip_df = pd.DataFrame({
#     'Lat': permitLtLn_df["lat"],
#     'Lon': permitLtLn_df["lng"]
# })
# zipcodes = zip_df.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='Lat', lon_field='Lon')

KeyboardInterrupt:

In [26]:
zipcodes

0        {'house_number': '2422', 'road': 'West Gunniso...
1        {'neighbourhood': 'Loop', 'city': 'Chicago', '...
2        {'house_number': '4912', 'road': 'West Melrose...
3        {'house_number': '3224', 'road': 'North Lawnda...
4        {'house_number': '3739', 'road': 'North Marshf...
                               ...
39895    {'amenity': 'Merrionette Park Police Departmen...
40618    {'house_number': '4730', 'road': 'West 89th Pl...
44007    {'road': 'West 69th Street', 'village': 'Bedfo...
46188    {'amenity': 'Auto Warehousing Company', 'road'...
49745    {'road': 'Des Plaines Blue Unpaved Trail', 'ne...
Length: 661, dtype: object

In [27]:
permitLtLn_df["detail"] = ''
permitLtLn_df["detail"] = zipcodes
permitLtLn_df

         lat    lng                                             detail
0      41.97 -87.69  {'house_number': '2422', 'road': 'West Gunniso...
1      41.88 -87.62  {'neighbourhood': 'Loop', 'city': 'Chicago', '...
2      41.94 -87.75  {'house_number': '4912', 'road': 'West Melrose...
3      41.94 -87.72  {'house_number': '3224', 'road': 'North Lawnda...
4      41.95 -87.67  {'house_number': '3739', 'road': 'North Marshf...
...      ...    ...                                                ...
39895  41.68 -87.70  {'amenity': 'Merrionette Park Police Departmen...
40618  41.73 -87.74  {'house_number': '4730', 'road': 'West 89th Pl...
44007  41.77 -87.77  {'road': 'West 69th Street', 'village': 'Bedfo...
46188  41.67 -87.57  {'amenity': 'Auto Warehousing Company', 'road'...
49745  41.97 -87.85  {'road': 'Des Plaines Blue Unpaved Trail', 'ne...

[661 rows x 3 columns]

In [28]:
permitLtLn_df.to_csv('permitLtLn_df.csv', index=False)

In [72]:
permitLoc = "permitLtLn_df.csv"
permitLoc_df = pd.read_csv(permitLoc,encoding='latin-1')
permitLoc_df.head()

     lat    lng                                             detail      Zip
0  41.92 -87.67  {'road': 'North Elston Avenue', 'neighbourhood...  60647.0
1  42.00 -87.71  {'house_number': '6519-6525', 'road': 'North K...  60712.0
2  41.89 -87.70  {'amenity': 'Recycling Drop-Off Center', 'road...  60622.0
3  41.70 -87.53  {'house_number': '10729', 'road': 'South Avenu...  46394.0
4  42.00 -87.94  {'house_number': '1869', 'road': 'South Elmhur...  60007.0

In [73]:
permitLoc_df = permitLoc_df[["lat", "lng", "Zip"]]

In [74]:
chi_hist_permitsREW_df["lat"] = chi_hist_permitsREW_df["lat"].round(2)
chi_hist_permitsREW_df["lng"] = chi_hist_permitsREW_df["lng"].round(2)
chi_hist_permitsREW_df

,month_year,street_number,street_direction,street_name,suffix,community_area,census_tract,ward,lat,lng,permit_type
0,11/10/20,2402,W,CARMEN,AVE,4.0,40201.0,40.0,41.97,-87.69,PERMIT - NEW CONSTRUCTION
1,11/10/20,6,N,MICHIGAN,AVE,32.0,320100.0,42.0,41.88,-87.62,PERMIT - RENOVATION/ALTERATION
2,11/10/20,4949,W,BELMONT,AVE,19.0,190200.0,31.0,41.94,-87.75,PERMIT - RENOVATION/ALTERATION
3,11/10/20,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,41.94,-87.72,PERMIT - NEW CONSTRUCTION
4,11/10/20,3634,N,PAULINA,ST,6.0,60300.0,47.0,41.95,-87.67,PERMIT - RENOVATION/ALTERATION
...,...,...,...,...,...,...,...,...,...,...,...
53249,1/4/16,1221,W,31ST,ST,60.0,600900.0,11.0,41.84,-87.66,PERMIT - RENOVATION/ALTERATION
53250,1/4/16,6233,S,UNIVERSITY,AVE,42.0,420300.0,20.0,41.78,-87.60,PERMIT - RENOVATION/ALTERATION
53251,1/4/16,4802,S,PRINCETON,AVE,37.0,835600.0,3.0,41.81,-87.63,PERMIT - RENOVATION/ALTERATION
53252,1/4/16,555,W,111TH,ST,49.0,491200.0,34.0,41.69,-87.64,PERMIT - RENOVATION/ALTERATION
53253,1/4/16,6440,S,HOYNE,AVE,67.0,671400.0,16.0,41.78,-87.68,PERMIT - RENOVATION/ALTERATION

In [75]:
chi_hist_permitsREW_df = pd.merge(chi_hist_permitsREW_df, permitLoc_df,  how='left', left_on=['lat','lng'], right_on = ['lat','lng'])
chi_hist_permitsREW_df

,month_year,street_number,street_direction,street_name,suffix,community_area,census_tract,ward,lat,lng,permit_type,Zip
0,11/10/20,2402,W,CARMEN,AVE,4.0,40201.0,40.0,41.97,-87.69,PERMIT - NEW CONSTRUCTION,60625.0
1,11/10/20,6,N,MICHIGAN,AVE,32.0,320100.0,42.0,41.88,-87.62,PERMIT - RENOVATION/ALTERATION,NaN
2,11/10/20,4949,W,BELMONT,AVE,19.0,190200.0,31.0,41.94,-87.75,PERMIT - RENOVATION/ALTERATION,60641.0
3,11/10/20,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,41.94,-87.72,PERMIT - NEW CONSTRUCTION,60618.0
4,11/10/20,3634,N,PAULINA,ST,6.0,60300.0,47.0,41.95,-87.67,PERMIT - RENOVATION/ALTERATION,60613.0
...,...,...,...,...,...,...,...,...,...,...,...,...
52418,1/4/16,1221,W,31ST,ST,60.0,600900.0,11.0,41.84,-87.66,PERMIT - RENOVATION/ALTERATION,60608.0
52419,1/4/16,6233,S,UNIVERSITY,AVE,42.0,420300.0,20.0,41.78,-87.60,PERMIT - RENOVATION/ALTERATION,60637.0
52420,1/4/16,4802,S,PRINCETON,AVE,37.0,835600.0,3.0,41.81,-87.63,PERMIT - RENOVATION/ALTERATION,60609.0
52421,1/4/16,555,W,111TH,ST,49.0,491200.0,34.0,41.69,-87.64,PERMIT - RENOVATION/ALTERATION,60628.0
52422,1/4/16,6440,S,HOYNE,AVE,67.0,671400.0,16.0,41.78,-87.68,PERMIT - RENOVATION/ALTERATION,60636.0

In [76]:
chi_hist_permitsREW_df.dropna(subset = ["Zip"], inplace=True)
chi_hist_permitsREW_df

,month_year,street_number,street_direction,street_name,suffix,community_area,census_tract,ward,lat,lng,permit_type,Zip
0,11/10/20,2402,W,CARMEN,AVE,4.0,40201.0,40.0,41.97,-87.69,PERMIT - NEW CONSTRUCTION,60625.0
2,11/10/20,4949,W,BELMONT,AVE,19.0,190200.0,31.0,41.94,-87.75,PERMIT - RENOVATION/ALTERATION,60641.0
3,11/10/20,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,41.94,-87.72,PERMIT - NEW CONSTRUCTION,60618.0
4,11/10/20,3634,N,PAULINA,ST,6.0,60300.0,47.0,41.95,-87.67,PERMIT - RENOVATION/ALTERATION,60613.0
5,11/10/20,3917,W,EDDY,ST,21.0,831100.0,30.0,41.95,-87.73,PERMIT - NEW CONSTRUCTION,60641.0
...,...,...,...,...,...,...,...,...,...,...,...,...
52418,1/4/16,1221,W,31ST,ST,60.0,600900.0,11.0,41.84,-87.66,PERMIT - RENOVATION/ALTERATION,60608.0
52419,1/4/16,6233,S,UNIVERSITY,AVE,42.0,420300.0,20.0,41.78,-87.60,PERMIT - RENOVATION/ALTERATION,60637.0
52420,1/4/16,4802,S,PRINCETON,AVE,37.0,835600.0,3.0,41.81,-87.63,PERMIT - RENOVATION/ALTERATION,60609.0
52421,1/4/16,555,W,111TH,ST,49.0,491200.0,34.0,41.69,-87.64,PERMIT - RENOVATION/ALTERATION,60628.0
52422,1/4/16,6440,S,HOYNE,AVE,67.0,671400.0,16.0,41.78,-87.68,PERMIT - RENOVATION/ALTERATION,60636.0

In [77]:
crimeData = "Uncleaned Data/crimeNoiseCt_df.csv"
crimeData_df = pd.read_csv(crimeData,encoding='latin-1')
crimeData_df.head()

   Unnamed: 0      Date  zipcode  total_num_crimes  total_num_noise
0           0  1/1/2001    46394                 1                0
1           1  1/1/2001    60176                 1                0
2           2  1/1/2001    60202                 6                0
3           3  1/1/2001    60302                27                0
4           4  1/1/2001    60409                 6                0

In [78]:
chi_hist_permitsREW_df['month_year'] = pd.to_datetime(chi_hist_permitsREW_df['month_year'])
chi_hist_permitsREW_df['month_year'] = chi_hist_permitsREW_df['month_year'].dt.strftime('%#m/%#d/%Y')
chi_hist_permitsREW_df

,month_year,street_number,street_direction,street_name,suffix,community_area,census_tract,ward,lat,lng,permit_type,Zip
0,11/10/2020,2402,W,CARMEN,AVE,4.0,40201.0,40.0,41.97,-87.69,PERMIT - NEW CONSTRUCTION,60625.0
2,11/10/2020,4949,W,BELMONT,AVE,19.0,190200.0,31.0,41.94,-87.75,PERMIT - RENOVATION/ALTERATION,60641.0
3,11/10/2020,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,41.94,-87.72,PERMIT - NEW CONSTRUCTION,60618.0
4,11/10/2020,3634,N,PAULINA,ST,6.0,60300.0,47.0,41.95,-87.67,PERMIT - RENOVATION/ALTERATION,60613.0
5,11/10/2020,3917,W,EDDY,ST,21.0,831100.0,30.0,41.95,-87.73,PERMIT - NEW CONSTRUCTION,60641.0
...,...,...,...,...,...,...,...,...,...,...,...,...
52418,1/4/2016,1221,W,31ST,ST,60.0,600900.0,11.0,41.84,-87.66,PERMIT - RENOVATION/ALTERATION,60608.0
52419,1/4/2016,6233,S,UNIVERSITY,AVE,42.0,420300.0,20.0,41.78,-87.60,PERMIT - RENOVATION/ALTERATION,60637.0
52420,1/4/2016,4802,S,PRINCETON,AVE,37.0,835600.0,3.0,41.81,-87.63,PERMIT - RENOVATION/ALTERATION,60609.0
52421,1/4/2016,555,W,111TH,ST,49.0,491200.0,34.0,41.69,-87.64,PERMIT - RENOVATION/ALTERATION,60628.0
52422,1/4/2016,6440,S,HOYNE,AVE,67.0,671400.0,16.0,41.78,-87.68,PERMIT - RENOVATION/ALTERATION,60636.0

In [79]:
chi_hist_permitsREW_df.dtypes

month_year           object
street_number         int64
street_direction     object
street_name          object
suffix               object
community_area      float64
census_tract        float64
ward                float64
lat                 float64
lng                 float64
permit_type          object
Zip                 float64
dtype: object

In [80]:
chi_hist_permitsREW_df = pd.merge(chi_hist_permitsREW_df, crimeData_df,  how='left', left_on=['month_year','Zip'], right_on = ['Date','zipcode'])
chi_hist_permitsREW_df

,month_year,street_number,street_direction,street_name,suffix,community_area,census_tract,ward,lat,lng,permit_type,Zip,Unnamed: 0,Date,zipcode,total_num_crimes,total_num_noise
0,11/10/2020,2402,W,CARMEN,AVE,4.0,40201.0,40.0,41.97,-87.69,PERMIT - NEW CONSTRUCTION,60625.0,NaN,NaN,NaN,NaN,NaN
1,11/10/2020,4949,W,BELMONT,AVE,19.0,190200.0,31.0,41.94,-87.75,PERMIT - RENOVATION/ALTERATION,60641.0,NaN,NaN,NaN,NaN,NaN
2,11/10/2020,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,41.94,-87.72,PERMIT - NEW CONSTRUCTION,60618.0,NaN,NaN,NaN,NaN,NaN
3,11/10/2020,3634,N,PAULINA,ST,6.0,60300.0,47.0,41.95,-87.67,PERMIT - RENOVATION/ALTERATION,60613.0,NaN,NaN,NaN,NaN,NaN
4,11/10/2020,3917,W,EDDY,ST,21.0,831100.0,30.0,41.95,-87.73,PERMIT - NEW CONSTRUCTION,60641.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50409,1/4/2016,1221,W,31ST,ST,60.0,600900.0,11.0,41.84,-87.66,PERMIT - RENOVATION/ALTERATION,60608.0,32731.0,1/4/2016,60608.0,12.0,0.0
50410,1/4/2016,6233,S,UNIVERSITY,AVE,42.0,420300.0,20.0,41.78,-87.60,PERMIT - RENOVATION/ALTERATION,60637.0,32758.0,1/4/2016,60637.0,19.0,0.0
50411,1/4/2016,4802,S,PRINCETON,AVE,37.0,835600.0,3.0,41.81,-87.63,PERMIT - RENOVATION/ALTERATION,60609.0,32732.0,1/4/2016,60609.0,6.0,0.0
50412,1/4/2016,555,W,111TH,ST,49.0,491200.0,34.0,41.69,-87.64,PERMIT - RENOVATION/ALTERATION,60628.0,32750.0,1/4/2016,60628.0,31.0,0.0
50413,1/4/2016,6440,S,HOYNE,AVE,67.0,671400.0,16.0,41.78,-87.68,PERMIT - RENOVATION/ALTERATION,60636.0,32757.0,1/4/2016,60636.0,31.0,0.0

In [81]:
chi_hist_permitsREW_df = chi_hist_permitsREW_df.drop(['Unnamed: 0', 'Date', "zipcode"], axis=1)
chi_hist_permitsREW_df

,month_year,street_number,street_direction,street_name,suffix,community_area,census_tract,ward,lat,lng,permit_type,Zip,total_num_crimes,total_num_noise
0,11/10/2020,2402,W,CARMEN,AVE,4.0,40201.0,40.0,41.97,-87.69,PERMIT - NEW CONSTRUCTION,60625.0,NaN,NaN
1,11/10/2020,4949,W,BELMONT,AVE,19.0,190200.0,31.0,41.94,-87.75,PERMIT - RENOVATION/ALTERATION,60641.0,NaN,NaN
2,11/10/2020,3204,N,LAWNDALE,AVE,21.0,831100.0,30.0,41.94,-87.72,PERMIT - NEW CONSTRUCTION,60618.0,NaN,NaN
3,11/10/2020,3634,N,PAULINA,ST,6.0,60300.0,47.0,41.95,-87.67,PERMIT - RENOVATION/ALTERATION,60613.0,NaN,NaN
4,11/10/2020,3917,W,EDDY,ST,21.0,831100.0,30.0,41.95,-87.73,PERMIT - NEW CONSTRUCTION,60641.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50409,1/4/2016,1221,W,31ST,ST,60.0,600900.0,11.0,41.84,-87.66,PERMIT - RENOVATION/ALTERATION,60608.0,12.0,0.0
50410,1/4/2016,6233,S,UNIVERSITY,AVE,42.0,420300.0,20.0,41.78,-87.60,PERMIT - RENOVATION/ALTERATION,60637.0,19.0,0.0
50411,1/4/2016,4802,S,PRINCETON,AVE,37.0,835600.0,3.0,41.81,-87.63,PERMIT - RENOVATION/ALTERATION,60609.0,6.0,0.0
50412,1/4/2016,555,W,111TH,ST,49.0,491200.0,34.0,41.69,-87.64,PERMIT - RENOVATION/ALTERATION,60628.0,31.0,0.0
50413,1/4/2016,6440,S,HOYNE,AVE,67.0,671400.0,16.0,41.78,-87.68,PERMIT - RENOVATION/ALTERATION,60636.0,31.0,0.0

In [82]:
chi_hist_permitsREW_df.to_csv('chi_hist_permitsREW_df.csv', index=False)

In [94]:
chiPermitsClean = "Data/chi_hist_permitsREWclean_df.csv"
chiPermitsClean_df = pd.read_csv(chiPermitsClean,encoding='latin-1')
chiPermitsClean_df.head()

,month_year,long_date,lat,lng,Zip,total_num_crimes,total_num_noise
0,11/10/2020,11/1/2020,41.97,-87.69,60625,NaN,NaN
1,11/10/2020,11/1/2020,41.94,-87.75,60641,NaN,NaN
2,11/10/2020,11/1/2020,41.94,-87.72,60618,NaN,NaN
3,11/10/2020,11/1/2020,41.95,-87.67,60613,NaN,NaN
4,11/10/2020,11/1/2020,41.95,-87.73,60641,NaN,NaN

In [95]:
chiPermitsClean_df = pd.merge(chiPermitsClean_df, chi_hist_zip_df,  how='left', left_on=['long_date','Zip'], right_on = ['Full_date','zip_code'])
chiPermitsClean_df

,month_year_x,long_date,lat,lng,Zip,total_num_crimes,total_num_noise,month_year_y,Full_date,short_date,zip_code,city_state,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count
0,11/10/2020,11/1/2020,41.97,-87.69,60625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11/10/2020,11/1/2020,41.94,-87.75,60641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11/10/2020,11/1/2020,41.94,-87.72,60618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11/10/2020,11/1/2020,41.95,-87.67,60613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11/10/2020,11/1/2020,41.95,-87.73,60641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50409,1/4/2016,01/1/2016,41.84,-87.66,60608,12.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50410,1/4/2016,01/1/2016,41.78,-87.60,60637,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50411,1/4/2016,01/1/2016,41.81,-87.63,60609,6.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50412,1/4/2016,01/1/2016,41.69,-87.64,60628,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50413,1/4/2016,01/1/2016,41.78,-87.68,60636,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
chiPermitsClean_df.to_csv('Data/chiPermitsClean_df.csv', index=False)

In [99]:
chiPermitsClean_df = chiPermitsClean_df.dropna(how='any')
chiPermitsClean_df

,month_year_x,long_date,lat,lng,Zip,total_num_crimes,total_num_noise,month_year_y,Full_date,short_date,zip_code,city_state,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count
246,10/31/2020,10/1/2020,41.78,-87.63,60636,1.0,0.0,202010.0,10/1/2020,10/2020,60636.0,"chicago, il",85050.0,40.0,49.0,24.0,58.823529,1080.0,95477.0,91.0
274,10/29/2020,10/1/2020,41.76,-87.57,60617,1.0,0.0,202010.0,10/1/2020,10/2020,60617.0,"chicago, il",145050.0,82.0,54.0,48.0,106.959315,1214.0,151615.0,208.0
283,10/29/2020,10/1/2020,41.95,-87.67,60613,1.0,0.0,202010.0,10/1/2020,10/2020,60613.0,"chicago, il",289050.0,440.0,34.0,204.0,216.666667,840.0,436893.0,562.0
294,10/28/2020,10/1/2020,41.79,-87.65,60620,1.0,0.0,202010.0,10/1/2020,10/2020,60620.0,"chicago, il",155050.0,69.0,44.0,40.0,102.836879,1275.0,159521.0,208.0
453,10/22/2020,10/1/2020,41.75,-87.61,60619,1.0,1.0,202010.0,10/1/2020,10/2020,60619.0,"chicago, il",135050.0,81.0,50.0,60.0,95.238095,1269.0,140520.0,193.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45266,7/1/2016,07/1/2016,41.97,-87.74,60630,7.0,0.0,201607.0,07/1/2016,07/2016,60630.0,"chicago, il",330050.0,134.0,36.0,84.0,174.500000,1367.0,343241.0,252.0
45267,7/1/2016,07/1/2016,41.78,-87.77,60638,13.0,0.0,201607.0,07/1/2016,07/2016,60638.0,"chicago, il",235050.0,193.0,43.0,92.0,168.445693,1141.0,235389.0,337.0
45268,7/1/2016,07/1/2016,41.78,-87.77,60638,13.0,0.0,201607.0,07/1/2016,07/2016,60638.0,"chicago, il",235050.0,193.0,43.0,92.0,168.445693,1141.0,235389.0,337.0
45269,7/1/2016,07/1/2016,41.79,-87.68,60636,52.0,0.0,201607.0,07/1/2016,07/2016,60636.0,"chicago, il",49950.0,95.0,82.0,24.0,36.930179,1079.0,56598.0,114.0
45270,7/1/2016,07/1/2016,41.79,-87.60,60637,30.0,0.0,201607.0,07/1/2016,07/2016,60637.0,"chicago, il",150950.0,115.0,71.0,36.0,97.899160,1400.0,259446.0,168.0

In [100]:
chiPermitsClean_df = chiPermitsClean_df.drop(['month_year_y', 'month_year_x', "Full_date", "short_date", "zip_code", "city_state", ], axis=1)
chiPermitsClean_df

,long_date,lat,lng,Zip,total_num_crimes,total_num_noise,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count
246,10/1/2020,41.78,-87.63,60636,1.0,0.0,85050.0,40.0,49.0,24.0,58.823529,1080.0,95477.0,91.0
274,10/1/2020,41.76,-87.57,60617,1.0,0.0,145050.0,82.0,54.0,48.0,106.959315,1214.0,151615.0,208.0
283,10/1/2020,41.95,-87.67,60613,1.0,0.0,289050.0,440.0,34.0,204.0,216.666667,840.0,436893.0,562.0
294,10/1/2020,41.79,-87.65,60620,1.0,0.0,155050.0,69.0,44.0,40.0,102.836879,1275.0,159521.0,208.0
453,10/1/2020,41.75,-87.61,60619,1.0,1.0,135050.0,81.0,50.0,60.0,95.238095,1269.0,140520.0,193.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45266,07/1/2016,41.97,-87.74,60630,7.0,0.0,330050.0,134.0,36.0,84.0,174.500000,1367.0,343241.0,252.0
45267,07/1/2016,41.78,-87.77,60638,13.0,0.0,235050.0,193.0,43.0,92.0,168.445693,1141.0,235389.0,337.0
45268,07/1/2016,41.78,-87.77,60638,13.0,0.0,235050.0,193.0,43.0,92.0,168.445693,1141.0,235389.0,337.0
45269,07/1/2016,41.79,-87.68,60636,52.0,0.0,49950.0,95.0,82.0,24.0,36.930179,1079.0,56598.0,114.0
45270,07/1/2016,41.79,-87.60,60637,30.0,0.0,150950.0,115.0,71.0,36.0,97.899160,1400.0,259446.0,168.0

In [112]:
permitMoCt_df = chiPermitsClean_df.groupby(["long_date","Zip"]).count()
permitMoCt_df = permitMoCt_df[["lat"]]
permitMoCt_df = permitMoCt_df.rename(columns={"lat":"permit_count"})
permitMoCt_df

                 permit_count
long_date Zip
01/1/2017 60605             5
          60607            13
          60608            18
          60609            13
          60610            43
...                       ...
12/1/2019 60656             4
          60657            11
          60659             4
          60660             4
          60661            27

[2666 rows x 1 columns]

In [113]:
permitMoCt_df.to_csv('Data/permitMoCtFinal_df.csv')