In [54]:
import pandas as pd
import requests
import json
import numpy as np
from pprint import pprint as pp

In [55]:
crimeCSV = "Data/Crimes_-_2001_to_Present.csv"
crime_df = pd.read_csv(crimeCSV,encoding='latin-1')
crime_df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11034701,JA366925,01/01/2001 11:00:00 AM,016XX E 86TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,8.0,45.0,11,NaN,NaN,2001,08/05/2017 03:50:08 PM,NaN,NaN,NaN
1,11227287,JB147188,10/08/2017 03:00:00 AM,092XX S RACINE AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,...,21.0,73.0,02,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
2,11227583,JB147595,03/28/2017 02:00:00 PM,026XX W 79TH ST,0620,BURGLARY,UNLAWFUL ENTRY,OTHER,False,False,...,18.0,70.0,05,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
3,11227293,JB147230,09/09/2017 08:17:00 PM,060XX S EBERHART AVE,0810,THEFT,OVER $500,RESIDENCE,False,False,...,20.0,42.0,06,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
4,11227634,JB147599,08/26/2017 10:00:00 AM,001XX W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,42.0,32.0,02,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN

In [56]:
crime_df = crime_df[["Date", "Block", "IUCR", "Primary Type", "Ward", "Year", "Latitude", "Longitude"]]
crime_df.head()

,Date,Block,IUCR,Primary Type,Ward,Year,Latitude,Longitude
0,01/01/2001 11:00:00 AM,016XX E 86TH PL,1153,DECEPTIVE PRACTICE,8.0,2001,NaN,NaN
1,10/08/2017 03:00:00 AM,092XX S RACINE AVE,0281,CRIM SEXUAL ASSAULT,21.0,2017,NaN,NaN
2,03/28/2017 02:00:00 PM,026XX W 79TH ST,0620,BURGLARY,18.0,2017,NaN,NaN
3,09/09/2017 08:17:00 PM,060XX S EBERHART AVE,0810,THEFT,20.0,2017,NaN,NaN
4,08/26/2017 10:00:00 AM,001XX W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,42.0,2017,NaN,NaN

In [57]:
crime_df.dtypes

Date             object
Block            object
IUCR             object
Primary Type     object
Ward            float64
Year              int64
Latitude        float64
Longitude       float64
dtype: object

In [58]:
crime_df.describe

<bound method NDFrame.describe of                            Date                 Block  IUCR  \
0        01/01/2001 11:00:00 AM       016XX E 86TH PL  1153
1        10/08/2017 03:00:00 AM    092XX S RACINE AVE  0281
2        03/28/2017 02:00:00 PM       026XX W 79TH ST  0620
3        09/09/2017 08:17:00 PM  060XX S EBERHART AVE  0810
4        08/26/2017 10:00:00 AM   001XX W RANDOLPH ST  0281
...                         ...                   ...   ...
7226618  05/26/2019 05:13:00 PM  036XX W DOUGLAS BLVD  2825
7226619  05/26/2019 06:48:00 AM   013XX W HASTINGS ST  0110
7226620  07/01/2014 07:30:00 AM   063XX S NORMAL BLVD  1153
7226621  11/30/2017 09:00:00 AM   022XX S KOSTNER AVE  1153
7226622  05/26/2019 02:11:00 AM   013XX W HASTINGS ST  0110

                Primary Type  Ward  Year   Latitude  Longitude
0         DECEPTIVE PRACTICE   8.0  2001        NaN        NaN
1        CRIM SEXUAL ASSAULT  21.0  2017        NaN        NaN
2                   BURGLARY  18.0  2017        NaN        NaN
3                      THEFT  20.0  2017        NaN        NaN
4        CRIM SEXUAL ASSAULT  42.0  2017        NaN        NaN
...                      ...   ...   ...        ...        ...
7226618        OTHER OFFENSE  24.0  2019  41.862830 -87.717040
7226619             HOMICIDE  25.0  2019  41.864278 -87.659660
7226620   DECEPTIVE PRACTICE  20.0  2014        NaN        NaN
7226621   DECEPTIVE PRACTICE  22.0  2017        NaN        NaN
7226622             HOMICIDE  25.0  2019  41.864278 -87.659682

[7226623 rows x 8 columns]>

In [59]:
crime_df["Latitude"].value_counts()

41.976290    13616
41.754593     9857
41.883500     7744
41.897895     4727
41.896889     3311
             ...
41.820236        1
41.826501        1
41.888884        1
41.935465        1
41.723749        1
Name: Latitude, Length: 872910, dtype: int64

In [60]:
crime_df.isna().sum()

Date                 0
Block                0
IUCR                 0
Primary Type         0
Ward            614833
Year                 0
Latitude         82155
Longitude        82155
dtype: int64

In [61]:
crime_df.dropna(subset = ["Latitude"], inplace=True)
crime_df.isna().sum()

Date                 0
Block                0
IUCR                 0
Primary Type         0
Ward            605577
Year                 0
Latitude             0
Longitude            0
dtype: int64

In [62]:
crime_df.describe

<bound method NDFrame.describe of                            Date                 Block  IUCR  \
60280    01/03/2019 07:20:00 PM       0000X W RWY 27R  2890
62198    03/16/2019 05:58:00 PM      001XX N WELLS ST  0460
62538    03/12/2019 10:00:00 PM       008XX E 38TH PL  0820
62570    03/14/2019 06:42:00 PM    074XX N PAULINA ST  0460
62571    03/14/2019 04:03:00 PM       008XX E 38TH PL  5002
...                         ...                   ...   ...
7226615  03/18/2015 04:00:00 AM   036XX W BELMONT AVE  0460
7226616  03/18/2015 05:08:00 PM   043XX N CENTRAL AVE  0560
7226618  05/26/2019 05:13:00 PM  036XX W DOUGLAS BLVD  2825
7226619  05/26/2019 06:48:00 AM   013XX W HASTINGS ST  0110
7226622  05/26/2019 02:11:00 AM   013XX W HASTINGS ST  0110

                   Primary Type  Ward  Year   Latitude  Longitude
60280    PUBLIC PEACE VIOLATION  41.0  2019  42.002816 -87.906094
62198                   BATTERY  42.0  2019  41.883369 -87.633860
62538                     THEFT   4.0  2019  41.825347 -87.606781
62570                   BATTERY  49.0  2019  42.016542 -87.672499
62571             OTHER OFFENSE   4.0  2019  41.825299 -87.606961
...                         ...   ...   ...        ...        ...
7226615                 BATTERY  35.0  2015  41.939208 -87.718022
7226616                 ASSAULT  38.0  2015  41.959944 -87.767226
7226618           OTHER OFFENSE  24.0  2019  41.862830 -87.717040
7226619                HOMICIDE  25.0  2019  41.864278 -87.659660
7226622                HOMICIDE  25.0  2019  41.864278 -87.659682

[7144468 rows x 8 columns]>

In [63]:
crime_df["Latitude"].value_counts

<bound method IndexOpsMixin.value_counts of 60280      42.002816
62198      41.883369
62538      41.825347
62570      42.016542
62571      41.825299
             ...
7226615    41.939208
7226616    41.959944
7226618    41.862830
7226619    41.864278
7226622    41.864278
Name: Latitude, Length: 7144468, dtype: float64>

In [68]:
crime_df["Latitude"] = crime_df["Latitude"].round(2)
crime_df["Longitude"] = crime_df["Longitude"].round(2)
crime_df.head()

,Date,Block,IUCR,Primary Type,Ward,Year,Latitude,Longitude
60280,01/03/2019 07:20:00 PM,0000X W RWY 27R,2890,PUBLIC PEACE VIOLATION,41.0,2019,42.00,-87.91
62198,03/16/2019 05:58:00 PM,001XX N WELLS ST,0460,BATTERY,42.0,2019,41.88,-87.63
62538,03/12/2019 10:00:00 PM,008XX E 38TH PL,0820,THEFT,4.0,2019,41.82,-87.61
62570,03/14/2019 06:42:00 PM,074XX N PAULINA ST,0460,BATTERY,49.0,2019,42.02,-87.67
62571,03/14/2019 04:03:00 PM,008XX E 38TH PL,5002,OTHER OFFENSE,4.0,2019,41.82,-87.61

In [69]:
latLng_df = crime_df[["Latitude", "Longitude"]]

In [70]:
latLng_df = latLng_df.drop_duplicates()
latLng_df

         Latitude  Longitude
60280       42.00     -87.91
62198       41.88     -87.63
62538       41.82     -87.61
62570       42.02     -87.67
62644       41.98     -87.80
...           ...        ...
3149371     41.68     -87.55
4565685     41.96     -87.81
5913714     41.97     -87.92
6671099     41.94     -87.85
6870904     41.98     -87.93

[741 rows x 2 columns]

In [72]:
import geopy
import pandas as pd


def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    return location.raw['address']#['postcode']


geolocator = geopy.Nominatim(user_agent="rewelling09@gmail.com")

zip_df = pd.DataFrame({
    'Lat': latLng_df["Latitude"],
    'Lon': latLng_df["Longitude"]
})
zipcodes = zip_df.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='Lat', lon_field='Lon')

In [85]:
zipcodes

60280      {'aeroway': 'Aircraft Fire Traning Site', 'roa...
62198      {'building': 'Marquette Building', 'house_numb...
62538      {'house_number': '649-651', 'road': 'East 41st...
62570      {'house_number': '7616', 'road': 'North Boswor...
62644      {'house_number': '5442', 'road': 'North Newlan...
                                 ...
3149371    {'building': 'South Shore Recycling Plant', 'h...
4565685    {'man_made': 'Norridge Water Tower', 'road': '...
5913714    {'building': 'Faa Glide Slope Site (9R)', 'roa...
6671099    {'leisure': '#7', 'road': 'Des Plaines River T...
6870904    {'aeroway': 'O’Hare 21 Deicing Facility & Cros...
Length: 741, dtype: object

In [87]:
latLng_df["detail"] = ''

In [88]:
latLng_df["detail"] = zipcodes

In [89]:
latLng_df

,Latitude,Longitude,detail
60280,42.00,-87.91,"{'aeroway': 'Aircraft Fire Traning Site', 'roa..."
62198,41.88,-87.63,"{'building': 'Marquette Building', 'house_numb..."
62538,41.82,-87.61,"{'house_number': '649-651', 'road': 'East 41st..."
62570,42.02,-87.67,"{'house_number': '7616', 'road': 'North Boswor..."
62644,41.98,-87.80,"{'house_number': '5442', 'road': 'North Newlan..."
...,...,...,...
3149371,41.68,-87.55,"{'building': 'South Shore Recycling Plant', 'h..."
4565685,41.96,-87.81,"{'man_made': 'Norridge Water Tower', 'road': '..."
5913714,41.97,-87.92,"{'building': 'Faa Glide Slope Site (9R)', 'roa..."
6671099,41.94,-87.85,"{'leisure': '#7', 'road': 'Des Plaines River T..."
6870904,41.98,-87.93,{'aeroway': 'O’Hare 21 Deicing Facility & Cros...

In [90]:
latLng_df.to_csv('latLng_df.csv', index=False)

In [92]:
latLngCSV = "Data/latLng_df.csv"
zip_df = pd.read_csv(latLngCSV,encoding='latin-1')
zip_df.head()

,Latitude,Longitude,detail,Zip,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,41.70,-87.53,"{'house_number': '10729', 'road': 'South Avenu...",46394.0,NaN,NaN,NaN,NaN,NaN,NaN
1,41.69,-87.53,"{'road': 'Burnham Greenway Black Paved Trail',...",46394.0,NaN,NaN,NaN,NaN,NaN,NaN
2,41.68,-87.53,"{'road': 'Burnham Greenway Black Paved Trail',...",46394.0,NaN,NaN,NaN,NaN,NaN,NaN
3,41.71,-87.53,"{'road': 'Chicago Skyway', 'neighbourhood': 'E...",46394.0,NaN,NaN,NaN,NaN,NaN,NaN
4,42.00,-87.94,"{'house_number': '1869', 'road': 'South Elmhur...",60007.0,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
crime_df["zipcode"] = ""

In [95]:
crime_df = pd.merge(crime_df, zip_df,  how='left', left_on=['Latitude','Longitude'], right_on = ['Latitude','Longitude'])
crime_df

,Date,Block,IUCR,Primary Type,Ward,Year,Latitude,Longitude,zipcode,detail_x,...,Unnamed: 8_x,Unnamed: 9_x,detail_y,Zip_y,Unnamed: 4_y,Unnamed: 5_y,Unnamed: 6_y,Unnamed: 7_y,Unnamed: 8_y,Unnamed: 9_y
0,01/03/2019 07:20:00 PM,0000X W RWY 27R,2890,PUBLIC PEACE VIOLATION,41.0,2019,42.00,-87.91,,"{'aeroway': 'Aircraft Fire Traning Site', 'roa...",...,NaN,NaN,"{'aeroway': 'Aircraft Fire Traning Site', 'roa...",60018.0,NaN,NaN,NaN,NaN,NaN,NaN
1,03/16/2019 05:58:00 PM,001XX N WELLS ST,0460,BATTERY,42.0,2019,41.88,-87.63,,"{'building': 'Marquette Building', 'house_numb...",...,NaN,NaN,"{'building': 'Marquette Building', 'house_numb...",60602.0,NaN,NaN,NaN,NaN,NaN,NaN
2,03/12/2019 10:00:00 PM,008XX E 38TH PL,0820,THEFT,4.0,2019,41.82,-87.61,,"{'house_number': '649-651', 'road': 'East 41st...",...,NaN,NaN,"{'house_number': '649-651', 'road': 'East 41st...",60653.0,NaN,NaN,NaN,NaN,NaN,NaN
3,03/14/2019 06:42:00 PM,074XX N PAULINA ST,0460,BATTERY,49.0,2019,42.02,-87.67,,"{'house_number': '7616', 'road': 'North Boswor...",...,NaN,NaN,"{'house_number': '7616', 'road': 'North Boswor...",60626.0,NaN,NaN,NaN,NaN,NaN,NaN
4,03/14/2019 04:03:00 PM,008XX E 38TH PL,5002,OTHER OFFENSE,4.0,2019,41.82,-87.61,,"{'house_number': '649-651', 'road': 'East 41st...",...,NaN,NaN,"{'house_number': '649-651', 'road': 'East 41st...",60653.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7144463,03/18/2015 04:00:00 AM,036XX W BELMONT AVE,0460,BATTERY,35.0,2015,41.94,-87.72,,"{'house_number': '3224', 'road': 'North Lawnda...",...,NaN,NaN,"{'house_number': '3224', 'road': 'North Lawnda...",60618.0,NaN,NaN,NaN,NaN,NaN,NaN
7144464,03/18/2015 05:08:00 PM,043XX N CENTRAL AVE,0560,ASSAULT,38.0,2015,41.96,-87.77,,"{'amenity': 'Community of Christ', 'house_numb...",...,NaN,NaN,"{'amenity': 'Community of Christ', 'house_numb...",60630.0,NaN,NaN,NaN,NaN,NaN,NaN
7144465,05/26/2019 05:13:00 PM,036XX W DOUGLAS BLVD,2825,OTHER OFFENSE,24.0,2019,41.86,-87.72,,"{'house_number': '1525', 'road': 'South Hamlin...",...,NaN,NaN,"{'house_number': '1525', 'road': 'South Hamlin...",60623.0,NaN,NaN,NaN,NaN,NaN,NaN
7144466,05/26/2019 06:48:00 AM,013XX W HASTINGS ST,0110,HOMICIDE,25.0,2019,41.86,-87.66,,"{'house_number': '1343', 'road': 'West 16th St...",...,NaN,NaN,"{'house_number': '1343', 'road': 'West 16th St...",60608.0,NaN,NaN,NaN,NaN,NaN,NaN
7144467,05/26/2019 02:11:00 AM,013XX W HASTINGS ST,0110,HOMICIDE,25.0,2019,41.86,-87.66,,"{'house_number': '1343', 'road': 'West 16th St...",...,NaN,NaN,"{'house_number': '1343', 'road': 'West 16th St...",60608.0,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
crime_df = crime_df[["Date", "Block", "IUCR", "Primary Type", "Ward", "Year","Zip_y", "Latitude", "Longitude"]]
crime_df.head()

,Date,Block,IUCR,Primary Type,Ward,Year,Zip_y,Latitude,Longitude
0,01/03/2019 07:20:00 PM,0000X W RWY 27R,2890,PUBLIC PEACE VIOLATION,41.0,2019,60018.0,42.00,-87.91
1,03/16/2019 05:58:00 PM,001XX N WELLS ST,0460,BATTERY,42.0,2019,60602.0,41.88,-87.63
2,03/12/2019 10:00:00 PM,008XX E 38TH PL,0820,THEFT,4.0,2019,60653.0,41.82,-87.61
3,03/14/2019 06:42:00 PM,074XX N PAULINA ST,0460,BATTERY,49.0,2019,60626.0,42.02,-87.67
4,03/14/2019 04:03:00 PM,008XX E 38TH PL,5002,OTHER OFFENSE,4.0,2019,60653.0,41.82,-87.61

In [98]:
crime_df['Date'] = pd.to_datetime(crime_df['Date'])
crime_df['Date'] = crime_df['Date'].dt.strftime('%#m/%#d/%Y')

In [100]:
crime_df

,Date,Block,IUCR,Primary Type,Ward,Year,Zip_y,Latitude,Longitude
0,1/3/2019,0000X W RWY 27R,2890,PUBLIC PEACE VIOLATION,41.0,2019,60018.0,42.00,-87.91
1,3/16/2019,001XX N WELLS ST,0460,BATTERY,42.0,2019,60602.0,41.88,-87.63
2,3/12/2019,008XX E 38TH PL,0820,THEFT,4.0,2019,60653.0,41.82,-87.61
3,3/14/2019,074XX N PAULINA ST,0460,BATTERY,49.0,2019,60626.0,42.02,-87.67
4,3/14/2019,008XX E 38TH PL,5002,OTHER OFFENSE,4.0,2019,60653.0,41.82,-87.61
...,...,...,...,...,...,...,...,...,...
7144463,3/18/2015,036XX W BELMONT AVE,0460,BATTERY,35.0,2015,60618.0,41.94,-87.72
7144464,3/18/2015,043XX N CENTRAL AVE,0560,ASSAULT,38.0,2015,60630.0,41.96,-87.77
7144465,5/26/2019,036XX W DOUGLAS BLVD,2825,OTHER OFFENSE,24.0,2019,60623.0,41.86,-87.72
7144466,5/26/2019,013XX W HASTINGS ST,0110,HOMICIDE,25.0,2019,60608.0,41.86,-87.66
7144467,5/26/2019,013XX W HASTINGS ST,0110,HOMICIDE,25.0,2019,60608.0,41.86,-87.66

In [124]:
crime_df.dropna(subset = ["Zip_y"], inplace=True)
crime_df

,Date,Block,IUCR,Primary Type,Ward,Year,Zip_y,Latitude,Longitude
0,1/3/2019,0000X W RWY 27R,2890,PUBLIC PEACE VIOLATION,41.0,2019,60018.0,42.00,-87.91
1,3/16/2019,001XX N WELLS ST,0460,BATTERY,42.0,2019,60602.0,41.88,-87.63
2,3/12/2019,008XX E 38TH PL,0820,THEFT,4.0,2019,60653.0,41.82,-87.61
3,3/14/2019,074XX N PAULINA ST,0460,BATTERY,49.0,2019,60626.0,42.02,-87.67
4,3/14/2019,008XX E 38TH PL,5002,OTHER OFFENSE,4.0,2019,60653.0,41.82,-87.61
...,...,...,...,...,...,...,...,...,...
7144463,3/18/2015,036XX W BELMONT AVE,0460,BATTERY,35.0,2015,60618.0,41.94,-87.72
7144464,3/18/2015,043XX N CENTRAL AVE,0560,ASSAULT,38.0,2015,60630.0,41.96,-87.77
7144465,5/26/2019,036XX W DOUGLAS BLVD,2825,OTHER OFFENSE,24.0,2019,60623.0,41.86,-87.72
7144466,5/26/2019,013XX W HASTINGS ST,0110,HOMICIDE,25.0,2019,60608.0,41.86,-87.66
7144467,5/26/2019,013XX W HASTINGS ST,0110,HOMICIDE,25.0,2019,60608.0,41.86,-87.66

In [125]:
crimeGrouped_df = crime_df.groupby(["Date", "Zip_y"])
crimeGrouped_df = crimeGrouped_df.count()

In [127]:
crimeGrouped_df = crimeGrouped_df.rename(columns={"Block": "total_num_crimes"})
crimeGrouped_df = crimeGrouped_df[["total_num_crimes", "IUCR"]]
crimeGrouped_df

                  total_num_crimes  IUCR
Date     Zip_y
1/1/2001 46394.0                 1     1
         60176.0                 1     1
         60202.0                 6     6
         60302.0                27    27
         60409.0                 6     6
...                            ...   ...
9/9/2020 60666.0                 1     1
         60706.0                 1     1
         60707.0                 4     4
         60827.0                 3     3
         90615.0                 2     2

[462477 rows x 2 columns]

In [129]:
crimeGrouped_df.to_csv('crimeGrouped_df.csv')

In [130]:
from config import gkey

In [133]:
noiseSt = "Data/UniqueNoiseCompaints.csv"
noiseSt_df = pd.read_csv(noiseSt,encoding='latin-1')
noiseSt_df.head()

              ï»¿Address
0      200 E RANDOLPH ST
1      1401 W MADISON ST
2  3820 N ALTA VISTA TER
3         165 N STATE ST
4          65 S STATE ST

In [135]:
noiseSt_df = noiseSt_df.rename(columns={"ï»¿Address": "address"}) 
noiseSt_df

                    address
0         200 E RANDOLPH ST
1         1401 W MADISON ST
2     3820 N ALTA VISTA TER
3            165 N STATE ST
4             65 S STATE ST
...                     ...
5651     152 N PARKSIDE AVE
5652       732 N WABASH AVE
5653     1211 N LA SALLE DR
5654    10100 S LONGWOOD DR
5655    2016 N OAK PARK AVE

[5656 rows x 1 columns]

In [136]:
street = "200 E RANDOLPH ST"
citySt = "Chicago, IL"
target_loc = f"{street}, {citySt}"
target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
        'address={0}&key={1}').format(target_loc, gkey)
geo_data = requests.get(target_url).json()
pp(geo_data["results"][0]["address_components"][7]["short_name"])

'60601'

In [137]:
zips = []
for i, row in noiseSt_df.iterrows():
    street = row["address"]
    citySt = "Chicago, IL"
    target_loc = f"{street}, {citySt}"
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
            'address={0}&key={1}').format(target_loc, gkey)
    geo_data = requests.get(target_url).json()
    try:
        zips.append(geo_data["results"][0]["address_components"][7]["short_name"])
    except:
        zips.append("NaN")

noiseSt_df['zipcode'] = zips
noiseSt_df

                    address zipcode
0         200 E RANDOLPH ST   60601
1         1401 W MADISON ST   60607
2     3820 N ALTA VISTA TER   60613
3            165 N STATE ST   60601
4             65 S STATE ST   60603
...                     ...     ...
5651     152 N PARKSIDE AVE   60644
5652       732 N WABASH AVE   60611
5653     1211 N LA SALLE DR   60610
5654    10100 S LONGWOOD DR   60643
5655    2016 N OAK PARK AVE   60707

[5656 rows x 2 columns]

In [1]:
noiseSt_df

NameError: name 'noiseSt_df' is not defined